@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
    background-color: #333;
}

body {
font-family: 'Questrial', sans-serif;
background-color: #333;
margin: 0;
padding: 0;
}

.container {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 50vh;
    margin-top: 10%;
    margin-bottom: 1%;
}

.opacityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding-top: 0;
    opacity: 50%;
}

.opacityContainer input {
    display: flex;
    align-items: center;
    width: 60%;
    
}

.screen {
    position: absolute;
    cursor: pointer;
    min-height: 100%;
    height: 100%;
    border-radius: 10px;
}

.videoOne {
    opacity: 50%;
}

.videoTwo {
    opacity: 50%;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    opacity: 50%;
}

.controls {
    display: flex;
    align-items: center;
    color: #a8a5a5; 
    width: 60%;
    border-radius: 10px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #a8a5a5;
}

.controls .fa-stop {
    color: #a8a5a5;
}

.controls .fa-pause {
    color: #a8a5a5;
}

.controls .timestamp {
    color: #a8a5a5;
    font-weight: bold;
    margin-left: 10px;
}

.btn:focus {
    outline: 0;
}

@media(max-width: 800px) {
    .screen, .controls {
        width: 90%;
    }
}
